
params {
  help = false

  // output directory
  outdir = './RNASeq_Results'

  // Input reads and reference files
  reads = false
  genome = false
  genome_gff = false
  genome_cdna = false

  // link executables (optional)
  fastqc_app = 'fastqc'
  multiqc_app = 'multiqc'
  parallel_app = 'parallel'
  kallisto_app = 'kallisto'
  salmon_app = 'salmon'
  gsnap_app = 'gsnap'
  featureCounts_app = 'featureCounts'

  // runtime options
  queueSize = 20
  account = false   // HPC account name
  threads = false

  methods = "gsnap,hisat2,kallisto,salmon"  // by default, run all
}

env {
  fastqc_app = params.fastqc_app
  multiqc_app = params.multiqc_app
  parallel_app = params.parallel_app
  kallisto_app = params.kallisto_app
  salmon_app = params.salmon_app
  gsnap_app = params.gsnap_app
  featureCounts_app = params.featureCounts_app

  // == slurm or other options
 account_flag = params.account ? " --account $params.account " : ' '
 threads = params.threads ? $params.threads : 4
}

executor {
  queueSize = 10
  submitRateLimit = '10 sec'
}

profiles {
  local { cpu = 4 }
  slurm {
    includeConfig 'configs/slurm.config'
  }

}

singularity.autoMounts=true
docker.runOptions = '-u \$(id -u):\$(id -g)'

/*****************************
 Generate html runtime reports
  -with-timeline timeline.html
  -with-report report.html
 *****************************/
timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}

/**********************************
 Author and software info here
 **********************************/
manifest {
  name = 'isugifNF/RNAseq'
  description = 'RNAseq pipeline'
  mainScript = 'main.nf'
  version = '1.0.0'
}
