executor {
  queueSize = 10
  submitRateLimit = '10 sec'
}

singularity.autoMounts=true

/*****************************
 Generate html runtime reports
  -with-timeline timeline.html
  -with-report report.html
 *****************************/
timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}

/**********************************
 Author and software info here
 **********************************/
manifest {
  name = 'isugifNF/RNAseq'
  description = 'RNAseq pipeline'
  mainScript = 'main.nf'
  version = '1.0.0'
}
