
/* Create your own customized config for each process */
/* Set cpu, module, singularity, docker img, etc */
/* https://www.nextflow.io/docs/latest/config.html?highlight=environment */

process {
  // withName:fastqc { }
  // withName:multiqc { }
  // withName:kallisto_index { }
  // withName:kallisto_quant { }
  // withName:salmon_index { }
  // withName:salmon_quant { }
  // withName:gsnap_index { }
  // withName:gsnap_align { }
  // withName:featureCounts_gene { }
  // withName:featureCounts_mRNA { }
  // withName:featureCounts_geneMult { }
}